@media screen and (max-width: 1025px) {
  .remuneration-list-wrapper .remuneration-item {
    max-width: 300px;
  }
}

@media screen and (max-width: 481px) {
  .remuneration-list-wrapper {
    row-gap: 8px;
  }

  .remuneration-list-wrapper .remuneration-item {
    max-width: 200px;
    font-size: 14px;
  }

  .remuneration-list-wrapper .remuneration-item .remuneration-item-wrapper {
    height: 32px;
    min-height: unset;
  }

  .remuneration-list-wrapper .remuneration-item .remuneration-item-left:after {
    right: -13px;
    border-width: 14px 0 14px 14px;
  }
  .remuneration-list-wrapper .remuneration-item .remuneration-item-left:before {
    border-width: 14px 0 14px 14px;
    right: -14px;
  }

  .remuneration-list-wrapper .remuneration-item .remuneration-item-right:after {
    border-width: 14px 14px 14px 0;
    left: -13px;
  }

  .remuneration-list-wrapper
    .remuneration-item
    .remuneration-item-right:before {
    border-width: 14px 14px 14px 0;
    left: -14px;
  }
}
