@media screen and (max-width: 1201px) {
    .game-over-wrapper .right-side {
        max-width: 18.75rem;
    }

    .game-over-wrapper .left-side {
        padding: 8.313rem 3vw 7.625rem 3vw;
    }
}

@media screen and (max-width: 1025px) {
    .game-page-wrapper .hamburger-wrapper {
        display: flex;
    }

    .game-page-wrapper .right-side {
        display: block;
        position: fixed;
        right: -100%;
        transition: var(--general-transition);
        max-width: unset;
        height: 0;
        width: 0;
        opacity: 0;
        visibility: hidden;
    }

    .game-page-wrapper .left-side {
        align-items: center;
    }

    .game-page-wrapper .left-side h1 {
        text-align: center;
        max-width: unset;
    }
}

@media screen and (max-width: 769px) {
    .game-page-wrapper .left-side h1 {
        font-size: 1.75rem;
        padding: 0 2.5rem;
    }

    .game-page-wrapper .left-side {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 8.5rem 0 1.5rem 0;
    }

    .game-page-wrapper .right-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 481px) {
    .game-page-wrapper .left-side h1 {
        font-size: var(--text-size);
    }

    .game-page-wrapper .right-side {
        padding-top: 4rem;
        padding-bottom: 2rem;
        overflow: auto;
    }

    .game-page-wrapper .hamburger-wrapper {
        width: 1rem;
        height: 0.938rem;
        row-gap: 0.25rem;
    }

    .game-page-wrapper .hamburger-wrapper > span {
        height: 0.438rem;
    }

    .game-page-wrapper .hamburger-menu-active {
        height: 16rem;
    }

    .game-page-wrapper .hamburger-menu-active > span:first-child {
        position: relative;
        left: -0.125rem;
        top: 0.188rem;
    }

    .game-page-wrapper .hamburger-menu-active > span:last-child {
        margin-left: -0.156rem;
    }
}
