.game-page-wrapper {
  display: grid;
  grid-template-columns: 80% 20%;
  height: 100%;
}

.game-page-wrapper .left-side {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8.313rem 0 7.625rem 5rem;
  background: var(--main-bg-color);
}

.game-page-wrapper .left-side > h1 {
  max-width: 39.375rem;
  width: 100%;
  font-size: var(--h2-title-size);
  line-height: 116%;
  font-weight: 600;
  color: var(--text-color);
}

.game-page-wrapper .right-side {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10.375rem 0;
  background: var(--white-color);
  position: relative;
  z-index: 1;
}
